.card{
    height: 100px;
    width: 50%;

    background-color: #5c1ea3f8;
    color: #fff;

    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.card strong{
    font-size: 18px;
}


@media  (min-width:375px) and (max-width: 425px) {

    .card{
       width: 80%;
    }


}